<div class="col-md-6">
    <h2>New Post</h2>

    <form class="form post-form">
      <div class="form-group">
        <label for="title">Title:</label>
        <input class="form-input" type="text" id="title" />
      </div>
      <div class="form-group">
        <label for="content">Content:</label>
        <input class="form-input" type="text" id="content" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit" id="create">Create</button>
      </div>
    </form>
</div>
<script src="/js/newpost.js"></script>